<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container"style="background-color:beige;">



<nav th:replace="fragments :: navigation"></nav>
<!--<div class="container">-->
<h1 th:text="${title}">Default Title</h1>
<!--<div class="container">-->
<form method="POST" th:object ="${login}" >
    <table>
        <tr style="max-width:460px; margin-top:30px;">
            <td>UserName</td>
            <td><input style="height:30px;width:460px;font-size:16pt;" type="email" th:field="*{email}" /></td>
            <span th:errors="*{email}" class="error"></span>
        </tr>
        <tr>
            <td>Password</td>
            <td><input style="height:30px;width:460px;font-size:16pt;" type="password" th:field="*{password}" /></td>
            <span th:errors="*{password}" class="error"></span>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Sign In"/>
            </td>
        </tr>
<p th:text="${param.q}" style="color:red;"></p>
<!--        <p th:text="${message}" style="color:red;"></p>-->
        <tr>
            <td>
                Don't have an Account? <a href="/donors/newdonor">New Donor</a>
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>