<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<!DOCTYPE html>
<html>
<head>
    <style>
body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
}


</style>
</head>
<body>

<h1>Blood Donation And Donor selection</h1>
<h2>Blood Donation</h2>
<ul>
    <li>Voluntary activity</li>
    <li>Whole blood</li>
    <li>Specific component</li>
</ul>
<h3>Donor Selection</h3>
<ul>
    <li>Donors should be between 18-65 in age and over 110lbs in weight</li>
</ul>
<h4>Fit</h4>
<ul>
    <li>Hb not less than 12g/dL</li>
    <li>No measure operations in the last 6 months</li>
    <li>No blood donations in past 6 months</li>
    <li>No blood transfusions within the last 12 months</li>
    <li>No pregnancy within the last 12 months</li>
    <li>Free from severe hypertension,splenomegaly,hepatomegaly and bleeding disorders</li>
</ul>
</body>
</html>
