<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<h1 th:text="${title}"></h1><span style="float:right;" th:if="${session.donorname == null}"></span>
<p th:text="${#strings.capitalizeWords(session.donorname)}" th:unless="${session == null}" style="align:center">

</p></h1>

<nav th:replace="fragments :: navigation"></nav>


<img src="https://tse2.mm.bing.net/th?id=OIP.JMeCiJ2aQzpk0qqxSyMUsAHaC0&pid=Api&P=0&w=523&h=200" style="width:100%; margin-top: 5%; align:center;" />


</body>
</html>