<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">




<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"style="text-align:center;" >BLOOD DONORS</h1>
<span style="float:right;" th:if="${session.donorname == null}"></span>


<p th:text="${#strings.capitalizeWords(session.donorname)}" th:unless="${session == null}" style="align:center; font-size:30px;"></p>


<img src="https://tse2.mm.bing.net/th?id=OIP.JMeCiJ2aQzpk0qqxSyMUsAHaC0&pid=Api&P=0&w=523&h=200" style="width:1200px; margin-top: 5%; align:center;" />


</body>
</html>